*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: steelblue;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 50px;
}

#addBook {
    background-color: chartreuse;
    font-size: 1.25rem;
    width: 180px;
    height: 40px;
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 50px;
}

#addBook:hover {
    transform: scale(1.1);
}

#addBook:active {
    transform: scale(0.95);
}

#booklist {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 300px;
}


.deleteButton {
    align-self: flex-end;
    font-size: 1.15rem;
    margin-right: 10px;
    margin-top: 5px;
    background-color: white;
    color: darkred;
    border: 3px darkred solid;
    border-radius: 50%; /* Ensure it's perfectly round */
    padding: 3px;
    font-weight: bold;
    width: 30px; /* Example size */
    height: 30px; /* Ensure it's the same as width for a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Optional: Changes the cursor on hover */
}


.deleteButton:hover {
    background-color: darkred;
    color: black;
}

.title {
    align-self: center;
    font-size: 1.5rem;
    margin-top: 30px;
}

.author {
    align-self: center;
    margin-bottom: 50px;
}

.publisher {
    margin-left: 20px;
    margin-top: 30px;
    font-style: italic;
}

.releaseYear {
    margin-left: 20px;
    margin-bottom: 5px;

}

.language {
    margin-left: 20px;
    margin-bottom: 5px;
}

.pages {
    margin-left: 20px;
    margin-bottom: 5px;
}

.read {
    margin-left: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}